<div class="page_container">
    <h1 class="page_title">
        Select a sudoku puzzle:
    </h1>
    <div class="puzzles_listWrapper">
        <div class="puzzles_list">
            <div *ngFor="let listItem of puzzlesList; trackBy: trackByPuzzles" class="puzzles_listItem">
                <a class="puzzle_link"
                   [ngClass]="{
                       easy: listItem.difficulty === PuzzleDifficulty.Easy,
                       medium: listItem.difficulty === PuzzleDifficulty.Medium,
                       hard: listItem.difficulty === PuzzleDifficulty.Hard
                   }"
                   [routerLink]="['/puzzles', listItem.id]"
                >
                    {{listItem.name}}
                </a>
                <div class="puzzle_details">
                    <div class="puzzle_detailsDifficulty">
                        <span *ngIf="listItem.difficulty === PuzzleDifficulty.Easy">Medium</span>
                        <span *ngIf="listItem.difficulty === PuzzleDifficulty.Medium">Hard</span>
                        <span *ngIf="listItem.difficulty === PuzzleDifficulty.Hard">Impossible</span>
                    </div>
                    <div class="puzzle_detailsCompleted">
                        <span *ngIf="isPuzzleCompleted(listItem.id)">
                            Completed!
                        </span>
                        <span *ngIf="isPuzzleInProgress(listItem.id)">
                            In progress...
                        </span>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
