.githubLink {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: #333;

    .githubIcon {
        font-size: 24px;
        margin-right: 5px;
    }
}

.puzzles_listWrapper {
    text-align: center;
}

.puzzles_list {
    display: inline-block;
    margin: 10px 0;
}

.puzzles_listItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.puzzle_link {
    flex: 0 0 auto;
    display: inline-block;
    width: 200px;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    $colorEasy: #02af47;
    $colorMedium: #f3eb07;
    $colorHard: #f54235;

    &.easy {
        background: $colorEasy;
        color: #F3F3F3;

        &:hover, &:focus, &:active {
            background: lighten($colorEasy, 5%);
            color: #FFF;
        }
    }
    &.medium {
        background: $colorMedium;
        color: #111;

        &:hover, &:focus, &:active {
            background: lighten($colorMedium, 15%);
        }
    }
    &.hard {
        background: $colorHard;
        color: #111;

        &:hover, &:focus, &:active {
            background: lighten($colorHard, 7%);
        }
    }
}

.puzzle_details {
    flex: 0 0 auto;
    display: inline-block;
    margin-left: 15px;
    text-align: left;
    font-size: 14px;
}

.puzzle_detailsDifficulty {
    font-weight: bold;
}
