<div class="page_container">
    <h1 class="page_title">
        {{title}}
    </h1>
    <a class="puzzlePage_backButton"
       [routerLink]="'/'">
        &lsaquo;
    </a>
    <div *ngIf="loadingState === LoadState.Loading"
         class="puzzlePage_loader"
    >
        Loading...
    </div>
    <div *ngIf="loadingState === LoadState.Success">
        <div class="puzzlePage_boardContainer">
            <puzzle-board
                [board]="puzzle$ | async"
                #boardRef
                class="puzzlePage_board"
                tabindex="0"
            ></puzzle-board>
        </div>
        <!-- Using 2 containers for horizontal centering,
         because puzzle-controls are display flex instead of inline-block. -->
        <div class="puzzlePage_controlsContainerOuter">
            <div class="puzzlePage_controlsContainerInner">
                <div *ngIf="(puzzle$ | async)?.hasWon" class="puzzlePage_winMessage">
                    Puzzle complete!
                </div>
                <puzzle-controls
                    [board]="puzzle$ | async"
                    #controlsRef
                ></puzzle-controls>
            </div>
        </div>
    </div>
</div>
