.puzzlePage_backButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 32px;
    color: #333;
}

.puzzlePage_loader {
    text-align: center;
}
