/* You can add global styles to this file, and also import other style files */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background: #eff3f5;
}

* {
    box-sizing: border-box;
}

.page_container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0;
}

.page_title {
    text-align: center;
}
