<!-- Using CSS to highlight guesses because it renders way faster than adding a class per guess cell. -->
<div class="puzzleBoard"
     [ngClass]="{
         showAll1: board.showingAllNum === 1,
         showAll2: board.showingAllNum === 2,
         showAll3: board.showingAllNum === 3,
         showAll4: board.showingAllNum === 4,
         showAll5: board.showingAllNum === 5,
         showAll6: board.showingAllNum === 6,
         showAll7: board.showingAllNum === 7,
         showAll8: board.showingAllNum === 8,
         showAll9: board.showingAllNum === 9
     }"
>
    <div *ngFor="let row of board.rows"
         class="puzzleBoard_row"
    >
        <div *ngFor="let cell of row; "
             class="puzzleBoard_cell"
             [ngClass]="{
                error: cell.isError,
                guessMode: cell.isGuessMode,
                rowColSelected: isCellRowColSelected(cell),
                selected: isCellSelected(cell),
                showAllOfNum: isShowingAllOfNum(cell),
                starterVal: cell.isStarterVal
             }"
             (mousedown)="onCellClick($event, cell)"
             role="button"
        >
            <div *ngIf="!cell.isGuessMode"
                 class="puzzleBoard_cellNum">
                {{cell.num}}
            </div>
            <div *ngIf="cell.isGuessMode" class="puzzleBoard_cellGuesses">
                <!-- Inlining these for performance instead of using ngFor's -->
                <div class="puzzleBoard_cellGuessRow">
                    <div class="puzzleBoard_cellGuess guess1" [puzzleCellClasses]="cell.guesses[1]?.color">
                        {{ cell.guesses[1] && '1' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess2" [puzzleCellClasses]="cell.guesses[2]?.color">
                        {{ cell.guesses[2] && '2' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess3" [puzzleCellClasses]="cell.guesses[3]?.color">
                        {{ cell.guesses[3] && '3' }}
                    </div>
                </div>
                <div class="puzzleBoard_cellGuessRow">
                    <div class="puzzleBoard_cellGuess guess4" [puzzleCellClasses]="cell.guesses[4]?.color">
                        {{ cell.guesses[4] && '4' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess5" [puzzleCellClasses]="cell.guesses[5]?.color">
                        {{ cell.guesses[5] && '5' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess6" [puzzleCellClasses]="cell.guesses[6]?.color">
                        {{ cell.guesses[6] && '6' }}
                    </div>
                </div>
                <div class="puzzleBoard_cellGuessRow">
                    <div class="puzzleBoard_cellGuess guess7" [puzzleCellClasses]="cell.guesses[7]?.color">
                        {{ cell.guesses[7] && '7' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess8" [puzzleCellClasses]="cell.guesses[8]?.color">
                        {{ cell.guesses[8] && '8' }}
                    </div>
                    <div class="puzzleBoard_cellGuess guess9" [puzzleCellClasses]="cell.guesses[9]?.color">
                        {{ cell.guesses[9] && '9' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
