@import 'src/styles/colors';

$cellSize: 40px;
$borderOuterColor: #000;
$borderInnerColor: #BBB;
$border: 1px solid $borderInnerColor;
$borderRadius: 4px;

:host {
    display: block;
    text-align: center;
}

.puzzleBoard {
    display: inline-block;
    border-radius: 4px;

    &:focus {
        outline: none;
        box-shadow: 0 0 2px 1px #55a2e6;
    }
}

.puzzleBoard_row {
    display: flex;
    flex-direction: row;

    // Darker borders for outer border and cell groups
    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
        .puzzleBoard_cell {
            border-top-color: $borderOuterColor;
        }
    }

    // Rounded corners
    &:first-child {
        .puzzleBoard_cell:first-child {
            border-top-left-radius: $borderRadius;
        }
        .puzzleBoard_cell:last-child {
            border-top-right-radius: $borderRadius;
        }
    }
    &:last-child {
        border-bottom: $border;
        border-bottom-color: $borderOuterColor;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;

        .puzzleBoard_cell:first-child {
            border-bottom-left-radius: $borderRadius;
        }
        .puzzleBoard_cell:last-child {
            border-bottom-right-radius: $borderRadius;
        }
    }
}

.puzzleBoard_cell {
    flex: 0 0 auto;
    width: $cellSize;
    height: $cellSize;
    // Using flex to center content
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 30px;
    background: #FFF;
    cursor: pointer;
    border-left: $border;
    border-top: $border;
    color: #2979b1;
    user-select: none;

    // Vertical borders for cell groups
    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
        border-left-color: $borderOuterColor;
    }

    &:last-child {
        border-right: $border;
        border-right-color: $borderOuterColor;
    }

    &.starterVal {
        color: #000;
        font-weight: bold;
    }

    &.guessMode {
        align-items: stretch;
        justify-content: stretch;
    }

    $rowColSelectedColor: #dfe8f1;
    $selectedColor: #accdea;
    $errorColor: #f58f8f;

    &.rowColSelected { background: $rowColSelectedColor; }
    &.selected { background: $selectedColor; }
    &.error { background: $errorColor; }

    &:hover {
        background: lighten($rowColSelectedColor, 5%);

        &.rowColSelected { background: lighten($rowColSelectedColor, 3%); }
        &.selected { background: lighten($selectedColor, 3%); }
        &.error { background: lighten($errorColor, 2%); }
    }
}

.puzzleBoard_cellNum {
    flex: 0 0 auto;
}

.puzzleBoard_cellGuesses {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.puzzleBoard_cellGuessRow {
    flex: 1 0 0;
    display: flex;
    align-items: center;
}

.puzzleBoard_cellGuess {
    flex: 1 0 0;
    font-size: 11px;
    text-align: center;
}

.puzzleColor_blue { color: $guessColor_blue; }
.puzzleColor_green { color: $guessColor_green; }
.puzzleColor_red { color: $guessColor_red; }
